:root {

    --bg: palegoldenrod;
    --text: navy;
    --bg-accent: navy;
    --text-accent: palegoldenrod;
    --bg-overlay: yellowgreen;
    --text-overlay: darkgreen;
    --bg-error: red;
    --text-error: white;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

#toolbar {
    background-color: var(--bg-accent);
    color: var(--text-accent);
}

#feedback > .feedbackMsg {
    background-color: var(--bg-overlay);
    color: var(--text-overlay);
}

#feedback > .errorMsg {
    background-color: var(--bg-error);
    color: var(--text-error);
}

label select option {
    background-color: var(--bg);
    color: var(--text);
}