
.column,
.row > :not(.row) {
    display: flex;
    flex-flow: column nowrap;
    margin: 1px;
    object-fit: scale-down;
}

.row,
.column >  :not(.column) {
    display: flex;
    flex-flow: row nowrap;
    margin: 1px;
    object-fit: scale-down;
    justify-content: space-evenly;
}