:root {
    --darkest: black;
    --darker: darkgray;
    --dark: lightgray;
    --lightest: white;

    --table-bordercolor: var(--darkest);
    --table-odd-bg: var(--dark);
    --table-odd: var(--table-bordercolor);
    --table-even-bg: var(--darker);
    --table-even: var(--table-bordercolor);

    --link-bordercolor: var(--text);
    --link-bg: var(--bg);
    --link-text: var(--text);

    --link-bordercolor-hover: var(--bg-accent);
    --link-bg-hover: var(--bg-accent);
    --link-text-hover: var(--text-accent);

    --link-bordercolor-active: var(--darkest);
    --link-bg-active: var(--darkest);
    --link-text-active: var(--lightest);

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: .2em;
    text-rendering: optimizeLegibility;
}

form {
    width: 100%;
    align-items: center;
}

label {
    width: 100%;
    text-align: left;
}

label input {
    width: 100%;
    height: 2em;
}

input[type=submit] {
    width: 60%;
    height: 3em;
}

table {
    width: 100%;
    height: fit-content;
    border: 2px solid var(--table-bordercolor);
    text-align: left;
}

th {
    background-color: var(--bg);
    color: var(--text);
}

.odd_row {
    background-color: var(--table-odd-bg);
    color: var(--table-odd);
}

.even_row {
    background-color: var(--table-even-bg);
    color: var(--table-even);
}

.a_button,
.a_button:link,
.a_button:visited {
    border: 2px solid var(--link-bordercolor);
    background-color: var(--link-bg);
    color: var(--link-text);
}

.odd_row:hover,
.even_row:hover,
.a_button:hover {
    border-color: var(--link-bg-hover);
    background-color: var(--link-bg-hover);
    color: var(--link-text-hover);
}

.odd_row:active,
.even_row:active,
.a_button:active {
    border-color: var(--darkest);
    background-color: var(--darkest);
    color: var(--lightest);
}